#:schema = https://json.schemastore.org/cargo.json
# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"

[alias]
nag = "clippy -- -W clippy::pedantic -W clippy::nursery -W clippy::unwrap_used -W clippy::expect_used"
fixnags = "clippy --fix -- -W clippy::pedantic -W clippy::nursery -W clippy::unwrap_used -W clippy::expect_used"

[build]
jobs = # {{ .system.build_jobs }}

[profile.dev]
debug = "line-tables-only"
[target.'cfg(target_os = "linux")']
rustflags = [
  # {{- if index .has "mold" }}
  "-C",
  "link-arg=-fuse-ld=mold",
  # {{- end }}
]
