#:schema = https://json.schemastore.org/cargo.json
# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"

[alias]
nag = "clippy -- -W clippy::pedantic -W clippy::nursery -W clippy::unwrap_used -W clippy::expect_used"
fixnags = "clippy --fix -- -W clippy::pedantic -W clippy::nursery -W clippy::unwrap_used -W clippy::expect_used"

[build]
jobs = # {{ .system.build_jobs }}
# {{- if index .has "sccache" }}
rustc-wrapper = "sccache"
# {{- end }}


[env]
# {{- if index .has "sccache" }}
# {{- $sccache_port := 4226 -}}
# {{- if .is_windows -}}
# {{- $sccache_port = 4227 -}}
# {{- end }}
SCCACHE_SERVER_PORT = "# {{ $sccache_port }}"
# {{- end }}

[profile.dev]
debug = "line-tables-only"
# {{- if index .has "sccache" }}
# sccache cannot cache incrementally compiled crates, so leaving
# incremental on costs a cache miss on every local crate.
incremental = false
# {{- end }}

[profile.dev.package."*"]
debug = false

[target.'cfg(target_os = "linux")']
rustflags = [
  # {{- if index .has "mold" }}
  "-C",
  "link-arg=-fuse-ld=mold",
  # {{- end }}
]
