#!/bin/sh
# {{ include "secrets.toml.age" | sha256sum }}
chezmoi_src={{ .chezmoi.sourceDir }}
key={{ index .age.identities 0 }}
recipient={{ index .age.recipients 0 }}
age -d -i "$key" -o "$HOME/.config/chezmoi/secrets.toml" "$chezmoi_src/secrets.toml.age"
# chezmoi init
