# vim: commentstring=#\ %s

# project files
.editorconfig
.gitattributes
.gitignore
.lazy.lua
.ltex/**
.luarc.json
.nvim.lua
.shellcheckrc
LICENSE
README.md
chezmoi_execute_template_reference.md
chezmoi_execute_template_reference_windows.md
cspell.json
notes.md
project_words.txt
stylua.toml

# secrets
key.txt.age
secrets.toml.age

# Scripts used by chezmoi
decrypt-private-key.sh
edit_secrets.sh
edit_secrets.sh.tmpl
fix_persmissions.sh
run_once_decrypt-private-key.sh.tmpl

# general exclusions
**/__pychache__/**


# always exclude
.ideavimrc
.profile
localSettings.yaml
!.oh-my-zsh/plugins
{{ range .zshPlugins }}
!.oh-my-zsh/plugins/{{ . }}
!.oh-my-zsh/plugins/{{ . }}/**
{{- end }}
.oh-my-zsh/cache/**
.oh-my-zsh/plugins/**
.oh-my-zsh/templates/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

# os specific exclusions

{{ if .system.is_wsl -}}
.bash_logout
.config/alacritty
.config/ghostty
.config/kitty
.config/kanata
.wezterm.lua
{{- else -}}
{{- end }}

{{ if not .system.is_macos }}
.chezmoiscripts/darwin/**
.config/aerospace
.config/homebrew
.config/Apple-Terminal
.config/karabiner
.hammerspoon
{{ end }}

{{ if not .system.is_linux }}
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim
.local/share/fonts
{{- else -}}
{{ if not (lookPath "devilspie2") -}}
.config/devilspie2
{{- end }}
{{ if not (lookPath "gedit") -}}
.config/gedit
.local/share/gedit
.local/share/gtksourceview-5
{{- end }}
{{ if not (lookPath "gnome-terminal") -}}
.config/gnome-terminal
{{- end }}
{{ end }}

{{ if .system.is_windows }}
.bash*
.config/ghostty
.config/git/cookies
.config/gitui
.config/kitty
.config/mpv
.config/psql
.config/readline
.config/tmux
.gnupg
.gnupg/**
.inputrc
.oh-my-zsh
.oh-my-zsh/**
.p10k.zsh
.profile
.sh_*
.ssh/id_rsa
.ssh/id_rsa.pub
.tmux.conf
.zprofile
.zsh*
**\.sh
{{- else -}}
.chezmoiscripts/windows/**
AppData/**
Documents
**\.ps1
{{ end }}

{{ if not .personal }}
.aider.*
.claude/**
.config/ghostty
.config/ghostty/**
.config/psql
.config/psql/**
.hammerspoon
.hammerspoon/**
.psqlrc
.pypirc
.ssh
.ssh/**
{{ end }}

{{ if not (eq .system.shell "zsh") -}}
.zsh*
.zprofile
.oh-my-zsh/**
{{- end }}


# specific cross-platform programs
{{ if not .has.ranger -}}
.config/ranger
{{- end }}
{{ if not .has.dbeaver -}}
.config/dbeaver
{{- end }}
{{ if not .has.highlight -}}
.local/share/highlight
{{- end }}
{{ if not .has.claude_code_router -}}
.claude-code-router
{{- end }}
{{ if not .has.iterm2 -}}
.config/iterm2
{{- end }}
{{ if not .has.jq -}}
.jq
{{- end }}
{{ if not .has.spotify_player -}}
.config/spotify-player
{{- end }}
{{ if not .has.ncspot -}}
.config/ncspot
{{- end }}
