{{- if not .is_ephemeral -}}
{{- $asset := "" -}}
{{- $exe := "" -}}
{{- $compiler_os_alt := .compiler_os -}}
{{- if .is_linux -}}
{{- $compiler_os_alt = .compiler_os | replaceAllRegex "^pc" "unknown" -}}
{{- end -}}


# Go programs
{{- $exe = printf "age%s" .exe_ext -}}
{{- if not (stat (joinPath .path.go_bin_dir $exe)) -}}
  {{- $age_asset := (printf "age-*-%s-%s.tar.gz" .chezmoi.os .arch_go) }}

[".local/bin/age{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" $age_asset | quote }}
refreshPeriod = "168h"
executable = true
path = "age/age{{ .exe_ext }}"

[".local/bin/age_keygen{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" $age_asset | quote }}
refreshPeriod = "168h"
executable = true
path = "age/age-keygen{{ .exe_ext }}"
{{- end }}

{{- $exe = printf "croc%s" .exe_ext -}}
{{- if not (stat (joinPath .path.go_bin_dir $exe)) }}
  {{- $croc_os := "" -}}
  {{- if .is_linux -}}
  {{-   $croc_os = dict "amd64" "Linux-64bit" "arm64" "Linux-ARM64" | dig .chezmoi.arch "Linux-64bit" -}}
  {{- else if .is_macos -}}
  {{-   $croc_os = dict "amd64" "macOS-64bit" "arm64" "macOS-ARM64" | dig .chezmoi.arch "macOS-64bit" -}}
  {{- else if .is_windows -}}
  {{-   $croc_os = dict "amd64" "Windows-64bit" "arm64" "Windows-ARM64" | dig .chezmoi.arch "Windows-64bit" -}}
  {{- end }}

[".local/bin/croc{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "schollz/croc" (printf "croc_v*_%s%s" $croc_os .archive) | quote }}
refreshPeriod = "168h"
executable = true
path = {{ printf "croc%s" .exe_ext | quote }}
{{- end }}


{{- $exe = printf "dasel%s" .exe_ext -}}
{{- if not (stat (joinPath .path.go_bin_dir $exe)) }}

[".local/bin/dasel{{ .exe_ext }}"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "TomWright/dasel" (printf "dasel_%s_%s%s" .chezmoi.os .chezmoi.arch .exe_ext) | quote }}
refreshPeriod = "168h"
executable = true
path = {{ printf "dasel_%s_%s%s" .chezmoi.os .chezmoi.arch .exe_ext | quote }}
{{- end }}


{{- $exe = printf "gdu%s" .exe_ext -}}
{{- if not (stat (joinPath .path.go_bin_dir $exe)) }}

[".local/bin/gdu{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "dundee/gdu" (printf "gdu_%s_%s%s.tgz" .chezmoi.os .chezmoi.arch .exe_ext) | quote }}
refreshPeriod = "168h"
executable = true
path = {{ printf "gdu_%s_%s%s" .chezmoi.os .chezmoi.arch .exe_ext | quote }}
{{- end }}


{{- $exe = printf "glow%s" .exe_ext -}}
{{ if not (stat (joinPath .path.go_bin_dir $exe)) -}}
  {{- $glow_os := dict "linux" "Linux" "darwin" "Darwin" "windows" "Windows" | dig .chezmoi.os .chezmoi.os -}}
  {{- $glow_arch := dict "amd64" "x86_64" "arm64" "arm64" | dig .chezmoi.arch .chezmoi.arch -}}
  {{- $glow_asset := printf "glow_*_%s_%s%s" $glow_os $glow_arch .archive }}

[".local/bin/glow{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "charmbracelet/glow" $glow_asset | quote }}
refreshPeriod = "168h"
executable = true
stripComponents = 1
path = "glow{{ .exe_ext }}"
{{- end }}


{{- $exe = printf "sqlc%s" .exe_ext -}}
{{- if not (stat (joinPath .path.go_bin_dir $exe)) }}

[".local/bin/sqlc{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sqlc-dev/sqlc" (printf "sqlc_*_%s_%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
refreshPeriod = "168h"
executable = true
path = "sqlc{{ .exe_ext }}"
{{- end }}

# Rust programs
{{- $exe = printf "eza%s" .exe_ext -}}
{{- if not (stat (joinPath .path.cargo_bin_dir $exe)) }}
  {{- $eza_os := "" -}}
  {{- if .is_linux }}{{- $eza_os = .compiler_os | replaceAllRegex "^pc" "unknown" -}}
  {{- else if .is_macos }}{{- $eza_os = "apple-darwin" -}}
  {{- else if .is_windows }}{{- $eza_os = "pc-windows-gnu" -}}{{- end -}}
  {{- if $eza_os }}

[".local/bin/eza{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" (printf "eza%s_%s-%s%s" .exe_ext .arch $eza_os .archive) | quote }}
refreshPeriod = "168h"
executable = true
path = {{ printf "eza%s" .exe_ext | quote }}
  {{- end }}
{{- end }}


{{- $exe = printf "jj%s" .exe_ext -}}
{{- if not (stat (joinPath .path.cargo_bin_dir $exe)) -}}
  {{- $jj_os := .compiler_os -}}
  {{- if .is_linux -}}{{- $jj_os = "unknown-linux-musl" -}}{{- end }}
  {{- $jj_triple := printf "%s-%s" .arch $jj_os }}

[".local/bin/jj{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "jj-vcs/jj" (printf "jj-v*-%s%s" $jj_triple .archive) | quote }}
refreshPeriod = "168h"
executable = true
# path = {{ printf "jj-v*-%s/jj%s" $jj_triple .exe_ext | quote }}
path = "./jj{{ .exe_ext }}"
{{- end }}


{{- $exe = printf "jless%s" .exe_ext -}}
{{- if not (stat (joinPath .path.cargo_bin_dir $exe)) }}
  {{- $jless_asset := "" -}}
  {{- if .is_linux -}}
  {{-   $jless_asset = printf "jless-v*-%s-unknown-linux-gnu.zip" .arch -}}
  {{- else if .is_macos -}}
  {{-   $jless_asset = printf "jless-v*-%s-apple-darwin.zip" .arch -}}
  {{- end -}}

{{- if $jless_asset }}

[".local/bin/jless{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "PaulJuliusMartinez/jless" $jless_asset | quote }}
refreshPeriod = "168h"
executable = true
path = "jless{{ .exe_ext }}"
{{- end }}
{{- end }}


{{- $exe = printf "starship%s" .exe_ext -}}
{{ if not (stat (joinPath .path.cargo_bin_dir $exe)) -}}
  {{- $asset = printf "starship-%s-%s%s" .rust_arch .rust_os .archive }}

[".local/bin/starship{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "starship/starship" $asset | quote }}
refreshPeriod = "168h"
executable = true
path = "starship{{ .exe_ext }}"
{{- end }}


{{- $exe = printf "uv%s" .exe_ext -}}
{{- if not (stat (joinPath .path.cargo_bin_dir $exe)) }}

[".local/bin/uv{{ .exe_ext }}"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" (printf "uv-%s-%s%s" .arch $compiler_os_alt .archive) | quote }}
refreshPeriod = "168h"
executable = true
path = {{ printf "uv-%s-%s/uv%s" .arch $compiler_os_alt .exe_ext | quote }}
{{- end }}


{{- if not .is_headless }}
# Fonts
  {{- $fontDir := "" }}
  {{- if .is_macos }}
    {{- $fontDir = "Library/Fonts" }}
  {{- else if .is_linux }}
    {{- $fontDir = ".local/share/fonts" }}
  {{- else if .is_windows -}}
    {{- $fontDir = "AppData/Local/Microsoft/Windows/Fonts" -}}
  {{- end }}
["{{ $fontDir }}/meslo"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "Meslo.tar.xz" | quote }}
refreshPeriod = "168h"
include = ["MesloLGMNerdFontPropo-*.ttf"]
["{{ $fontDir }}/symbols"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "NerdFontsSymbolsOnly.tar.xz"  | quote }}
refreshPeriod = "168h"
include = ["SymbolsNerdFont*-Regular.ttf"]
{{ if not .is_windows -}}
["{{ $fontDir }}/sarasa"]
type = "archive"
url = {{ printf "https://github.com/be5invis/Sarasa-Gothic/releases/download/v*/SarasaFixedK-TTF-*.7z" | quote }}
refreshPeriod = "168h"
include = ["SarasaFixedK-*"]
{{- else -}}
["{{ $fontDir }}/Sarasa-SuperTTC.ttc"]
type = "file"
url = "https://github.com/be5invis/Sarasa-Gothic/releases/download/v*/Sarasa-SuperTTC-*.7z"
refreshPeriod = "168h"
path = "Sarasa-SuperTTC.ttc"
{{- end }}
{{- end }}


{{ if eq .shell "zsh" -}}
[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.*",
  "*/templates",
  "*/themes",
]

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
exclude = [
  "*/.editorconfig",
  "*/.gitattributes",
  "*/.github",
  "*/.gitignore",
]
{{- end }}


{{- end -}}
