README.md
LICENSE
.gitignore
.editorconfig
.lazy.lua
.nvim.lua
.shellcheckrc
key.txt.age
secrets.toml.age
run_before_decrypt-private-key.sh.tmpl
edit_secrets.sh.tmpl
edit_secrets.sh
chezmoi_execute_template_reference.md
chezmoi_execute_template_reference_windows.md
