# vim: commentstring=#\ %s

# project files
.editorconfig
.git/**
.gitattributes
.gitignore
.lazy.lua
.ltex/**
.luarc.json
.nvim.lua
.shellcheckrc
LICENSE
README.md
chezmoi_execute_template_reference.md
chezmoi_execute_template_reference_windows.md
cspell.json
notes.md
project_words.txt
stylua.toml

# secrets
key.txt.age
secrets.toml.age

# Scripts used by chezmoi
edit_secrets.sh
edit_secrets.sh.tmpl
fix_persmissions.sh

# general exclusions
**/__pychache__/**


# always exclude
bootstrap.ps1
bootstrap.sh
chezmoi_debug_perf.py
.ideavimrc
**temp.sh
**temp.fish
**temp**
**/.keep
.profile
localSettings.yaml

# os specific exclusions

{{ if .is_wsl -}}
.config/alacritty
.config/ghostty
.config/kanata
.config/kitty
.config/spotify-player
.wezterm.lua
{{- else -}}
.gnupg/pinentry-ide.sh
{{- end }}

{{ if not .is_macos }}
.chezmoiscripts/darwin/**
.config/aerospace
.config/homebrew
.config/Apple-Terminal
.config/karabiner
.config/iterm2
.hammerspoon
{{ end }}

{{ if not .is_linux }}
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim
.local/share/fonts
.config/gnome-terminal
.config/devilspie2
{{- else -}}
{{ if not (index .has "devilspie2" | default false) -}}
.config/devilspie2
{{- end }}
{{ if not (index .has "gedit" | default false) -}}
.config/gedit
.local/share/gedit
.local/share/gtksourceview-5
{{- end }}
{{ if not (index .has "gnome_terminal" | default false) -}}
.config/gnome-terminal
{{- end }}
{{ end }}

{{ if .is_windows }}
**.sh
**.sh.tmpl
**\.sh*
# disable zed links for now until they fix the symlinked config error <https://github.com/zed-industries/zed/issues/47007>
AppData/Roaming/Zed
.bash*
.cache/fish
.chezmoiscripts/**.sh
.chezmoiscripts/**.sh.tmpl
.chezmoiscripts/linux/**
.chezmoiscripts/macos/**
.config/alacritty
.config/fish
.config/gedit/**
.config/ghostty
.config/git/cookies
.config/gitui
.config/kitty
.config/mpv
.config/psql
.config/readline
.config/tmux
.fimrc
.inputrc
.local/share/gedit/**
.local/share/gtksourceview-5/**
.oh-my-zsh
.oh-my-zsh/**
.p10k.zsh
.profile
.sh_*
.ssh/id_rsa
.ssh/id_rsa.pub
.tmux.conf
.xinitrc
.zprofile
.zsh*
{{ if not (lookPath "ConEmu.exe") -}}
AppData/Roaming/ConEmu.xml
{{- end }}
{{- else -}}
.chezmoiscripts/windows/**
AppData/**
Documents
**\.ps1
{{ end }}

{{ if not .personal }}
.aider.*
.claude/**
.config/ghostty
.config/ghostty/**
.config/psql
.config/psql/**
.hammerspoon
.hammerspoon/**
.psqlrc
.pypirc
.ssh
.ssh/**
{{ end }}

{{ if not (eq .shell "zsh") -}}
.zsh*
.zprofile
.oh-my-zsh/**
{{- else -}}
!.oh-my-zsh/plugins
{{ range .zshPlugins }}
!.oh-my-zsh/plugins/{{ . }}
!.oh-my-zsh/plugins/{{ . }}/**
{{- end }}
.oh-my-zsh/cache/**
.oh-my-zsh/plugins/**
.oh-my-zsh/templates/**
{{- end }}


# specific cross-platform programs
{{ if .is_headless -}}
    {{- if not (index .has "dbeaver" | default false) }}
.config/dbeaver
    {{ end -}}
    {{- if not (index .has "iterm2" | default false) }}
.config/iterm2
    {{ end -}}
    {{- if not (index .has "mpv" | default false) }}
.config/mpv
    {{ end -}}
{{- end }}

# cli tools
{{ if not (index .has "aider" | default false) -}}
.aider*
{{- end }}
{{- if not (index .has "claude" | default false) }}
.claude
{{- end }}
{{ if not (index .has "ranger" | default false) -}}
.config/ranger
{{- end }}
{{ if not (index .has "highlight" | default false) -}}
.local/share/highlight
{{- end }}
{{ if not (index .has "ccr" | default false) -}}
.claude-code-router
{{- end }}
{{ if not (index .has "jq" | default false) -}}
.jq
{{- end }}
# config tools
{{- range $tool := list
    "bat"
    "bottom"
    "ccstatusline"
    "cspell"
    "dbeaver"
    "eza"
    "kanata"
    "lazygit"
    "ncspot"
    "neovide"
    "nushell"
    "ranger"
    "rink"
    "ruff"
    "sccache"
    "ueberzugpp"
    "yazi"
    "zathura"
    "zed"
    "zellij"
    -}}
{{- if not (index $.has $tool | default false) -}}
.config/{{ $tool }}
{{- end }}
{{end}}
