root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{txt,md,toml.tmpl,json,yml,yaml}]
indent_size = 2

[*.{lua}]
indent_size = 2

[*.{bat,bat.tmpl,cmd,cmd.tmpl,ps1,ps1.tmpl,ps1xml,ps1xml.tmpl,psd1,psd1.tmpl,psm1,psm1.tmpl,vba,vba.tmpl,vbe,vbe.tmpl,vbp,vbp.tmpl,vbs,vbs.tmpl,wsf,wsf.tmpl}]
end_of_line = crlf

[AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/settings.json.tmpl]
indent_size = 4
