# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if false -}}
# vim:filetype=ps1.chezmoitmpl:shiftwidth=4
# {{- end }}
# edit-secrets.ps1
$ErrorActionPreference = 'Stop'
$chezmoiSrc = '# {{ .chezmoi.sourceDir }}'
$key = '# {{ index .age.identities 0 }}'
$recipient = '# {{ index .age.recipients 0 }}'
$tmpFile = Join-Path $env:TEMP "$(New-Guid).toml"
$dest = "$HOME/.config/chezmoi/secrets.toml"
$editor = if ($env:EDITOR) { $env:EDITOR } else { 'notepad' }

try {
    $secretsFile = Join-Path $chezmoiSrc 'secrets.toml.age'
    if (-not (Test-Path $secretsFile) -or (Get-Item $secretsFile).Length -eq 0) {
        Set-Content -Path $tmpFile -Value ''
    } else {
        age -d -i $key -o $tmpFile $secretsFile
    }

    & $editor $tmpFile
    age -r $recipient -o $secretsFile $tmpFile
    try {
        if (Test-Path $dest) {
            icacls $dest /grant "${env:USERNAME}:RW" | Out-Null
        }
        Copy-Item $tmpFile -Destination $dest -Force
    } finally {
        icacls $dest /grant "${env:USERNAME}:R" /inheritance:r | Out-Null
    }
} finally {
    Remove-Item -Path $tmpFile -Force -ErrorAction SilentlyContinue
}
