#!/bin/sh
# edit-secrets.sh
set -e
chezmoi_src={{ .chezmoi.sourceDir }}
key={{ index .age.identities 0 }}
recipient={{ index .age.recipients 0 }}
tmp_file="$(mktemp "/tmp/XXXXXXX.toml")"

if [ ! -s "$chezmoi_src/secrets.toml.age" ]; then
    echo "" >"$tmp_file"
else
    age -d -i "$key" -o "$tmp_file" "$chezmoi_src/secrets.toml.age"
fi

$EDITOR "$tmp_file"
age -r "$recipient" -o "$chezmoi_src/secrets.toml.age" "$tmp_file"
cp "$tmp_file" "$HOME/.config/chezmoi/secrets.toml"
rm -f "$tmp_file"
