# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if true -}}
# vim:filetype=bash
# {{- else -}}
# vim:filetype=bash.chezmoitmpl
# {{- end }}
# ~/.bash_profile
#

# {{ template "sh/profile.sh" . }}

[[ -f "$HOME/.bashrc" ]] && source "$HOME/.bashrc"
