#!/bin/zsh
# vim:set shiftwidth=4:

if [[ -f "$HOME/.cache/zsh/cache_env.zsh" ]]; then
    source "$HOME/.cache/zsh/cache_env.zsh"
    return 0
fi

{{ template "sh/utility_functions.sh" }}

[[ -s {{ joinPath .chezmoi.homeDir ".sh_env" }} ]] && {{ joinPath .chezmoi.homeDir ".sh_env" }}
