# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if true -}}
# vim:filetype=zsh:set shiftwidth=4:
# {{- else -}}
# vim:filetype=zsh.chezmoitmpl:set shiftwidth=4:
# {{- end }}
# {{- $shell := "zsh" }}
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# {{ template "sh/debug_startup_start.sh" }}

# {{ template "sh/rc.sh" }}

# Sourcing external packages
# {{ if .cache.build.shell }}
[[ -s "$HOME/.sh_cache" ]] && source "$HOME/.sh_cache"
# {{- else -}}
# {{ template "zsh/rc.zsh" . }}
# {{- end }}

# enable gpg integration
export GPG_TTY=$(tty)

# Starting fish shell
if [[
    -x $(command -v fish 2>/dev/null) &&
    x"$FORCESH" != x"1" &&
    (! -v ZED_TERM || "$ZED_TERM" != "true") ]] \
    ; then
    env_cache="# {{ .chezmoi.homeDir }}/.cache/# {{ $shell }}/env.# {{ $shell }}"
    [[ -s "$env_cache" ]] && source "$env_cache"

    # {{ template "sh/debug_startup_end.sh" }}

    exec fish
fi

# {{ if .cache.build.shell -}}
source "$interactive_cache"
# {{- else -}}
# {{ template "sh/extensions.sh" . }}
# {{- end }}

# {{ template "sh/debug_startup_end.sh" }}

# Avoid error message after shell start
return 0
