# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if true -}}
# vim:filetype=sh
# {{- else -}}
# vim:filetype=sh.chezmoitmpl
# {{- end }}
# {{- $shell := .shell -}}
# {{- /* $shell := "zsh" */ -}}
# {{- /* Only cache env on personal and non-ephemeral systems */ -}}
# {{ "" }}
# {{ template "sh/env_wsl.sh" . }}
sh_cache_dir="$HOME/.cache/# {{ $shell }}"
if ! [[ -d "$sh_cache_dir" ]]; then
    mkdir -p "$sh_cache_dir"
    chmod 700 "$sh_cache_dir"
fi

# {{- /* env_cache is sourced for non-interactive sessions */}}
# {{- /* env_cache stores various environment variables */}}
env_cache="$HOME/.# {{ $shell }}_cache"

# {{- /* interactive_cache* are only sourced in interactive sessions */}}
# {{- /* interactive_cache contains the environment configuration for interactive sessions */}}
interactive_cache="$sh_cache_dir/interactive.# {{ $shell }}"
last_cache_file="$sh_cache_dir/last"

# If not running interactively, source env cache and exit early
if [[ $- != *i* ]] && [[ -f "$env_cache" ]]; then
    echo "non-interactive mode, sourcing env cache"
    source "$env_cache"
    return 0
fi

[[ -f "$HOME/.sh_force_cache" || -f "$HOME/sh_force_cache" ]] && sh_force_cache=true || sh_force_cache=false
[[ -f "$HOME/sh_force_cache_once" ]] && sh_force_cache_once=true || sh_force_cache_once=false

last_cache=$(cat "$last_cache_file" 2>/dev/null)

if ! {
    [[ ! -f "$interactive_cache" ]] ||
        [[ "${sh_force_cache}" = "true" ]] ||
        [[ "${sh_force_cache_once}" = "true" ]] ||
        { [[ -n "${last_cache}" ]] && (($(date +%s) - last_cache >= 86400)); }
}; then
    echo "interactive mode, sourcing env cache"
    source "$env_cache"
    return 0
fi

if [[ "$sh_force_cache_once" = "true" ]] && [[ -f "$HOME/sh_force_cache_once" ]]; then
    rm "$HOME/sh_force_cache_once"
fi

if [[ "$SHLVL" -ge 2 ]]; then
    if [[ $- != *i* ]]; then
        if [[ ! -f "$env_cache" ]]; then
            echo "Not running in a fresh shell, but SH environment cache is missing."
            echo "Cache will be built, but may be dirty. Rebuild it via sh_force_cache"
        else
            source "$env_cache"
            return 0
        fi
    elif [[ ! -f "$interactive_cache" ]]; then
        echo "Not running in a fresh shell, but SH cache is missing."
        echo "Cache will be built, but may be dirty. Rebuild it via sh_force_cache"
    else
        source "$env_cache"
        return 0
    fi
fi
echo "Building # {{ $shell }} cache"

[[ -f "$HOME/.sh_env" ]] && source "$HOME/.sh_env"

{
    echo "#!/bin/# {{ $shell }}"
    # echo 'echo "sourcing env"'
    # {{- if eq $shell "bash" }}
    # Store the more basic env cache
    echo "shopt -s extglob"
    # {{- end }}
    declare -p | grep -vE '^declare -[^x]'
    declare -p | grep -E '^declare -..? (__git_|__zoxide_)'
} >"$env_cache"

# If not running interactively, stop here
[[ $- != *i* ]] && return

# add alias definitions
[[ -f "$HOME/.sh_aliases" ]] && source "$HOME/.sh_aliases"

# {{- if eq $shell "zsh" -}}
# {{ template "zsh/rc.zsh" . }}
# {{- end }}

# Build interactive session cache
{
    echo "#!/bin/# {{ $shell }}"
    # echo 'echo "sourcing interactive"'
    # {{- if eq $shell "zsh" -}}
    # export -p
    declare -p | grep -vE '^(declare -[^x]|typeset -A (commands|functions)|typeset -.+ (EPOCH|epochtime))'
    alias -L
    echo "'builtin' 'unsetopt' 'aliases'"
    declare -f
    echo "'builtin' 'setopt' 'aliases'"
    # {{- end }}
} >"$interactive_cache"

date +%s >"$last_cache_file"
chmod 600 "$last_cache_file"
