# {{ include "Documents/PowerShell/Microsoft.PowerShell_profile.ps1" | sha256sum }}
$content = Get-Content "{{ .chezmoi.homeDir }}/Documents/PowerShell/Microsoft.PowerShell_profile.ps1"
$dest = "{{ .chezmoi.homeDir }}/Documents/WindowsPowerShell"
if (-not (Test-Path $dest)) {
    New-Item -ItemType Directory -Path $dest | Out-Null
}
Copy-Item "{{ .chezmoi.homeDir }}/Documents/PowerShell/Microsoft.PowerShell_profile.ps1" "$dest/Microsoft.PowerShell_profile.ps1"
