{
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.codeActionsOnSave": {
      "source.fixAll.eslint": "explicit"
    },
    "editor.defaultFormatter": "dbaeumer.vscode-eslint",
    "editor.maxTokenizationLineLength": 2500
  },
  "[javascriptreact]": {
    "editor.codeActionsOnSave": {
      "source.fixAll.eslint": "explicit"
    },
    "editor.defaultFormatter": "dbaeumer.vscode-eslint",
    "editor.maxTokenizationLineLength": 2500
  },
  "[json]": {
    "editor.defaultFormatter": "vscode.json-language-features",
    "editor.formatOnSave": true
  },
  "[jsonc]": {
    "editor.defaultFormatter": "vscode.json-language-features",
    "editor.formatOnSave": true
  },
  "[latex]": {
    "editor.formatOnPaste": false,
    "editor.insertSpaces": true,
    "editor.suggestSelection": "recentlyUsedByPrefix",
    "editor.tabSize": 2,
    "editor.wordWrap": "wordWrapColumn",
    "editor.wordWrapColumn": 80
  },
  "[markdown]": {
    "editor.defaultFormatter": "DavidAnson.vscode-markdownlint"
  },
  "[python]": {
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.codeActionsOnSave": {
      "source.fixAll": "explicit",
      "source.organizeImports": "explicit"
    },
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.detectIndentation": false,
    "editor.formatOnType": true,
    "editor.insertSpaces": true,
    "editor.tabSize": 4
  },
  "[sql]": {
    "editor.defaultFormatter": "mtxr.sqltools"
  },
  "[typescript]": {
    "editor.codeActionsOnSave": {
      "source.fixAll.eslint": "explicit"
    },
    "editor.defaultFormatter": "dbaeumer.vscode-eslint",
    "editor.detectIndentation": false,
    "editor.formatOnPaste": false,
    "editor.insertSpaces": true,
    "editor.suggestSelection": "recentlyUsedByPrefix",
    "editor.tabSize": 2
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "dbaeumer.vscode-eslint"
  },
  "bashBeautify.tabSize": 2,
  "cSpell.enabledFileTypes": {
    "al": true,
    "asciidoc": true,
    "bat": true,
    "c": true,
    "clojure": true,
    "coffeescript": true,
    "cpp": true,
    "csharp": true,
    "css": true,
    "dart": true,
    "diff": true,
    "dockerfile": true,
    "elixir": true,
    "erlang": true,
    "fsharp": true,
    "git-commit": true,
    "git-rebase": true,
    "github-actions-workflow": true,
    "go": true,
    "graphql": true,
    "groovy": true,
    "handlebars": true,
    "haskell": true,
    "html": true,
    "ini": true,
    "jade": true,
    "java": true,
    "javascript": true,
    "javascriptreact": true,
    "json": true,
    "jsonc": true,
    "julia": true,
    "jupyter": true,
    "latex": true,
    "less": true,
    "lua": true,
    "makefile": true,
    "markdown": true,
    "objective-c": true,
    "perl": true,
    "perl6": true,
    "php": true,
    "plaintext": true,
    "powershell": true,
    "properties": true,
    "pug": true,
    "python": true,
    "r": true,
    "razor": true,
    "restructuredtext": true,
    "ruby": true,
    "rust": true,
    "scala": true,
    "scminput": true,
    "scss": true,
    "shaderlab": true,
    "shellscript": true,
    "sql": true,
    "swift": true,
    "text": true,
    "typescript": true,
    "typescriptreact": true,
    "vb": true,
    "vue": true,
    "xml": true,
    "xsl": true,
    "yaml": true
  },
  "cSpell.ignorePaths": [
    "package-lock.json",
    "node_modules",
    "vscode-extension",
    ".git/objects",
    ".vscode",
    ".vscode-insiders",
    ".venv",
    "venv"
  ],
  "cSpell.ignoreWords": [
    "chardet"
  ],
  "cSpell.language": "en,scientific-terms-us,wordlist-medicalterms-en",
  "cSpell.userWords": [
    "Amotivated",
    "Anonymization",
    "EPFL",
    "Fitbit",
    "Homomorphic",
    "LABEX",
    "Qualtrics",
    "Unil",
    "Velykoivanenko",
    "affordances",
    "anonymizing",
    "argcomplete",
    "astype",
    "autoethnography",
    "boxstyle",
    "chatbots",
    "chktex",
    "coloredlogs",
    "colormaps",
    "covid",
    "cryptocurrency",
    "disconfirmation",
    "dropna",
    "dtype",
    "elsevier",
    "explorative",
    "facecolor",
    "fillna",
    "gabriele",
    "grapher",
    "hdrive",
    "immobiles",
    "incentivized",
    "inplace",
    "intraday",
    "kavous",
    "keymap",
    "moodle",
    "multigroup",
    "multinomial",
    "ncols",
    "nipy",
    "notna",
    "numpy",
    "piscataway",
    "selfers",
    "sociotechnical",
    "subscales",
    "switc",
    "tqdm",
    "unencrpyted",
    "unindenting",
    "usetex",
    "verboselogs",
    "verticalalignment",
    "ydata",
    "ytick"
  ],
  "chat.disableAIFeatures": true,
  "color-highlight.languages": [
    "*"
  ],
  "colorize.include": [
    "*.py",
    "*.conf"
  ],
  "command-runner.commands": {
    "rgf2_code": "rgf2_code",
    "rgff2_code": "rgff2_code '${file}'"
  },
  "command-runner.terminal.name": "runCommand",
  "debug.console.acceptSuggestionOnEnter": "on",
  "debug.console.fontFamily": "'Meslo LG S', Menlo, Monaco, Consolas, monospace",
  "debug.console.fontSize": 15,
  "debug.showVariableTypes": true,
  "debugpy.debugJustMyCode": false,
  "debugpy.showPythonInlineValues": true,
  "diffEditor.codeLens": true,
  "editor.accessibilitySupport": "off",
  "editor.copyWithSyntaxHighlighting": false,
  "editor.cursorStyle": "line",
  "editor.foldingImportsByDefault": true,
  "editor.fontFamily": "'Sarasa Fixed K','MesloLGS Nerd Font Mono','Meslo LG S', Menlo, Monaco, Consolas, monospace,'Hack Nerd Font Mono'",
  "editor.fontLigatures": false,
  "editor.fontSize": 16,
  "editor.formatOnPaste": true,
  "editor.indentSize": "tabSize",
  "editor.lineNumbers": "relative",
  "editor.linkedEditing": true,
  "editor.minimap.enabled": false,
  "editor.rulers": [
    {
      "color": "#273E5C",
      "column": 80
    },
    {
      "color": "#273E5C",
      "column": 100
    },
    {
      "color": "#e5e5e5",
      "column": 120
    }
  ],
  "editor.semanticHighlighting.enabled": true,
  "editor.semanticTokenColorCustomizations": {
    "enabled": true,
    "rules": {
      "*.abstract": "#ff0000",
      "*.async": "#ff0000",
      "*.declaration": {
        "bold": true
      },
      "*.deprecated": "#ff0000",
      "*.documentation": "#ff0000",
      "*.modification": "#ff0000",
      "*.readonly": "#ff0000",
      "*.static": "#ff0000",
      "*.typeHint": {
        "bold": true,
        "foreground": "#91CCFF"
      },
      "*.typeHintComment": {
        "bold": true,
        "foreground": "#91CCFF"
      },
      "builtinConstant": {
        "bold": true,
        "foreground": "#FFA07A"
      },
      "class": {
        "bold": false,
        "foreground": "#ededed"
      },
      "class.builtin.decorator:python": {
        "bold": true,
        "foreground": "#FC7A00"
      },
      "class.builtin:python": {
        "bold": true,
        "foreground": "#aa00aa"
      },
      "class.declaration": {
        "bold": true
      },
      "clsParameter": {
        "foreground": "#FC7A00"
      },
      "comment": "#7f7f7f",
      "enum": {
        "bold": true,
        "foreground": "#c48aff"
      },
      "enumMember": "#7db8f5",
      "event": "#ff0000",
      "function": {
        "bold": false,
        "foreground": "#ededed"
      },
      "function.builtin": {
        "bold": true,
        "foreground": "#aa00aa"
      },
      "interface": {
        "bold": true,
        "foreground": "#91CCFF"
      },
      "keyword": {
        "bold": true,
        "foreground": "#558eff"
      },
      "label": "#ff0000",
      "macro": {
        "bold": true,
        "foreground": "#4AA532"
      },
      "magicFunction": {
        "bold": true,
        "foreground": "#aa00aa"
      },
      "method": {
        "bold": false,
        "foreground": "#ededed"
      },
      "method.builtin": {
        "bold": false,
        "foreground": "#ededed"
      },
      "method.declaration": {
        "bold": true
      },
      "module": {
        "bold": true,
        "foreground": "#80FFBB"
      },
      "namespace": {
        "bold": true,
        "foreground": "#80FFBB"
      },
      "number": "#ff9d00",
      "operator": "#ededed",
      "parameter": "#ededed",
      "property": {
        "bold": false,
        "foreground": "#ededed"
      },
      "python.readonly": {
        "fontStyle": "bold",
        "foreground": "#558eff"
      },
      "readonly": "#ff0000",
      "regexp": "#ff0000",
      "selfParameter": {
        "foreground": "#FC7A00"
      },
      "string": "#11CF45",
      "struct": {
        "bold": true,
        "foreground": "#80FFBB"
      },
      "type": "#91CCFF",
      "typeParameter": "#91CCFF",
      "variable": "#ededed",
      "variable.declaration": {
        "bold": false
      }
    }
  },
  "editor.showFoldingControls": "always",
  "editor.tabCompletion": "on",
  "editor.tabSize": 4,
  "editor.tokenColorCustomizations": {
    "comments": "#7f7f7f",
    "functions": "#f5f5f5",
    "keywords": "#558eff",
    "numbers": "#ff9d00",
    "strings": "#11CF45",
    "textMateRules": [
      {
        "name": "operator",
        "scope": [
          "punctuation.definition.arguments.begin.python",
          "punctuation.definition.arguments.end.python",
          "punctuation.definition.list.begin.python",
          "punctuation.definition.list.end.python",
          "punctuation.definition.typeparameters.begin.ts",
          "punctuation.definition.typeparameters.end.ts"
        ],
        "settings": {
          "foreground": "#e5e5e5"
        }
      },
      {
        "name": "keywords",
        "scope": [
          "keyword.control",
          "constant.language.python",
          "keyword.control.import.python",
          "storage.type.class.python",
          "storage.type.function.python",
          "keyword.operator.logical.python",
          "support.function.section.latex",
          "support.function.be.latex",
          "support.function.footnote.latex",
          "support.function.emph.latex",
          "support.function.general.tex",
          "support.function.builtin.shell",
          "support.function.command.fish",
          "support.function.builtin.fish",
          "support.function.unix.fish",
          "keyword.operator.new",
          "storage.modifier.ts",
          "storage.type",
          "entity.name.command.shell",
          "punctuation.definition.evaluation.parens.begin.shell",
          "punctuation.definition.evaluation.parens.end.shell",
          "constant.language.json.comments",
          "meta.diff.header.git"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#558eff"
        }
      },
      {
        "name": "strings",
        "scope": [
          "storage.type.string.python",
          "string.quoted.single.python",
          "string.interpolated.python",
          "meta.fstring.python",
          "string.quoted.docstring.multi.python",
          "string.quoted.single.shell",
          "string.quoted.double.shell"
        ],
        "settings": {
          "fontStyle": "",
          "foreground": "#11CF45"
        }
      },
      {
        "name": "string escapes",
        "scope": [
          "constant.character.escape.python",
          "constant.character.format.placeholder.other.python",
          "meta.fstring.python",
          "source.python"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#83A6C1"
        }
      },
      {
        "name": "function and class declaration",
        "scope": [
          "entity.name.function",
          "entity.name.type.class"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#f5f5f5"
        }
      },
      {
        "name": "standard text",
        "scope": [
          "support.class.math.block.tex",
          "support.class.math.block.environment.latex",
          "meta.math.block.tex",
          "source.python",
          "source.shell",
          "text.tex.latex",
          "support.variable.magic.python",
          "string.unquoted.argument.shell",
          "meta.embedded"
        ],
        "settings": {
          "fontStyle": "",
          "foreground": "#e5e5e5"
        }
      },
      {
        "name": "type",
        "scope": [
          "support.type",
          "meta.diff.range.unified"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#91CCFF"
        }
      },
      {
        "name": "builtin",
        "scope": [
          "support.type.exception.python",
          "support.type.python",
          "support.function.magic.python",
          "support.function.builtin.python"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#AA00AA"
        }
      },
      {
        "name": "decorators and self",
        "scope": [
          "punctuation.definition.string.begin.latex",
          "punctuation.definition.string.end.latex",
          "punctuation.definition.string.begin.tex",
          "punctuation.definition.string.end.tex",
          "punctuation.definition.decorator.python",
          "entity.name.function.decorator.python",
          "meta.function.decorator.python",
          "meta.function.decorator.python support.type.python",
          "variable.language.special.self.python",
          "variable.parameter.function.language.special.self.python",
          "variable.parameter.function.language.special.cls.python",
          "variable.language.special.cls.python",
          "meta.decorator.ts"
        ],
        "settings": {
          "fontStyle": "",
          "foreground": "#FC7A00"
        }
      },
      {
        "name": "shebang",
        "scope": [
          "punctuation.definition.comment.shebang.shell",
          "comment.line.number-sign.shebang.shell",
          "meta.shebang.shell"
        ],
        "settings": {
          "fontStyle": "italic",
          "foreground": "#0088ff"
        }
      },
      {
        "scope": [
          "keyword.operator.redirect.fish"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#ffaf87"
        }
      },
      {
        "name": "cli flags",
        "scope": [
          "source.option.fish",
          "constant.other.option.dash.shell",
          "constant.other.option.shell"
        ],
        "settings": {
          "foreground": "#FFFAB1"
        }
      },
      {
        "name": "LaTeX extra keywords",
        "scope": [
          "punctuation.definition.constant.math.tex",
          "constant.other.general.math.tex"
        ],
        "settings": {
          "fontStyle": "bold",
          "foreground": "#569CD6"
        }
      },
      {
        "name": "diff:index",
        "scope": [
          "meta.diff.index.git"
        ],
        "settings": {
          "foreground": "#666666"
        }
      },
      {
        "name": "diff:diff-file",
        "scope": [
          "meta.diff.header.from-file",
          "meta.diff.header.to-file"
        ],
        "settings": {
          "foreground": "#0088ff"
        }
      },
      {
        "name": "markup deleted",
        "scope": [
          "markup.deleted"
        ],
        "settings": {
          "foreground": "#CC6666"
        }
      },
      {
        "name": "markup inserted",
        "scope": [
          "markup.inserted"
        ],
        "settings": {
          "foreground": "#408040"
        }
      },
      {
        "name": "markup changed",
        "scope": "markup.changed",
        "settings": {
          "foreground": "#4D6F99"
        }
      }
    ],
    "types": "#91CCFF",
    "variables": "#FFFAB1"
  },
  "editor.unicodeHighlight.nonBasicASCII": false,
  "editor.wordSeparators": "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-",
  "editor.wordWrap": "off",
  "editor.wordWrapColumn": 120,
  "eslint.format.enable": true,
  "eslint.lintTask.enable": true,
  "eslint.useFlatConfig": true,
  "evenBetterToml.formatter.alignEntries": true,
  "evenBetterToml.formatter.allowedBlankLines": 1,
  "evenBetterToml.formatter.arrayAutoExpand": true,
  "evenBetterToml.formatter.arrayTrailingComma": true,
  "evenBetterToml.formatter.columnWidth": 1,
  "evenBetterToml.formatter.reorderArrays": true,
  "evenBetterToml.formatter.reorderKeys": false,
  "evenBetterToml.formatter.trailingNewline": true,
  "evenBetterToml.taplo.configFile.path": "taplo.toml",
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "files.autoSave": "afterDelay",
  "fish.path.fish": {{ lookPath "fish" | quote }},
  "git.branchRandomName.dictionary": [
    "adjectives",
    "animals",
    "colors"
  ],
  "git.branchRandomName.enable": true,
  "git.enableCommitSigning": true,
  "git.untrackedChanges": "separate",
  "github.copilot.enable": {
    "*": false,
    "jungle": false,
    "markdown": false,
    "plaintext": false,
    "scminput": false
  },
  "html.format.indentInnerHtml": true,
  "html.format.templating": true,
  "javascript.inlayHints.functionLikeReturnTypes.enabled": true,
  "javascript.inlayHints.parameterTypes.enabled": true,
  "javascript.inlayHints.propertyDeclarationTypes.enabled": true,
  "javascript.inlayHints.variableTypes.enabled": true,
  "keyboard.dispatch": "keyCode",
  "latex-workshop.formatting.latexindent.args": [
    "-c",
    "%DIR%/",
    "%TMPFILE%",
    "-y",
    "defaultIndent: '  ',noAdditionalIndent:item:1,indentRules:item:' '"
  ],
  "latex-workshop.kpsewhich.bibtex.enabled": true,
  "latex-workshop.kpsewhich.class.enabled": true,
  "latex-workshop.latex.recipe.default": "lastUsed",
  "latex-workshop.linting.chktex.args.active": [
    "-wall",
    "-n22",
    "-n30",
    "-e16",
    "-q",
    "-n46"
  ],
  "latex-workshop.linting.chktex.args.root": [
    "-wall",
    "-n22",
    "-n30",
    "-e16",
    "-q",
    "-n46"
  ],
  "latex-workshop.linting.chktex.enabled": true,
  "latex-workshop.linting.chktex.exec.args": [
    "-wall",
    "-n22",
    "-n30",
    "-e16",
    "-q",
    "-n46"
  ],
  "latex-workshop.synctex.afterBuild.enabled": true,
  "latex-workshop.view.pdf.invert": 1,
  "latex-workshop.view.pdf.viewer": "tab",
  "ltex.additionalRules.enablePickyRules": true,
  "ltex.additionalRules.languageModel": "E:\\Git\\languagetool\\languagemodel",
  "ltex.additionalRules.motherTongue": "en-US",
  "ltex.additionalRules.word2VecModel": "E:\\Git\\languagetool\\word2vec",
  "ltex.completionEnabled": true,
  "ltex.java.maximumHeapSize": 1024,
  "markdown-preview-enhanced.codeBlockTheme": "atom-dark.css",
  "markdown-preview-enhanced.enableExtendedTableSyntax": true,
  "markdown-preview-enhanced.enableHTML5Embed": true,
  "markdown-preview-enhanced.enablePreviewZenMode": false,
  "markdown-preview-enhanced.enableScriptExecution": true,
  "markdown-preview-enhanced.enableTypographer": true,
  "markdown-preview-enhanced.mermaidTheme": "dark",
  "markdown-preview-enhanced.previewTheme": "atom-light.css",
  "markdown.extension.italic.indicator": "_",
  "markdown.extension.math.enabled": false,
  "markdown.extension.print.theme": "dark",
  "markdown.extension.tableFormatter.normalizeIndentation": true,
  "markdown.extension.toc.updateOnSave": false,
  "markdown.preview.fontSize": 15,
  "markdownlint.config": {
    "MD007": {
      "indent": 4
    }
  },
  "mypy.checkNotebooks": true,
  "mypy.configFile": "pyproject.toml",
  "notebook.cellToolbarLocation": {
    "default": "right",
    "jupyter-notebook": "left"
  },
  "notebook.showFoldingControls": "always",
  "python.analysis.autoFormatStrings": true,
  "python.analysis.autoImportCompletions": true,
  "python.analysis.importFormat": "absolute",
  "python.analysis.includeAliasesFromUserFiles": true,
  "python.analysis.indexing": true,
  "python.analysis.inlayHints.callArgumentNames": "all",
  "python.analysis.inlayHints.functionReturnTypes": true,
  "python.analysis.inlayHints.pytestParameters": true,
  "python.analysis.inlayHints.variableTypes": true,
  "python.analysis.supportDocstringTemplate": true,
  "python.analysis.typeCheckingMode": "strict",
  "python.analysis.typeEvaluation.deprecateTypingAliases": true,
  "python.analysis.typeEvaluation.enableReachabilityAnalysis": true,
  "python.analysis.typeEvaluation.strictDictionaryInference": true,
  "python.analysis.typeEvaluation.strictListInference": true,
  "python.analysis.typeEvaluation.strictSetInference": true,
  "python.defaultInterpreterPath": {{ lookPath "python3" }},
  "python.languageServer": "Default",
  "python.missingPackage.severity": "Warning",
  "python.pyrefly.disableLanguageServices": true,
  "python.showStartPage": false,
  "python.terminal.executeInFileDir": true,
  "python.terminal.launchArgs": [
    "-m",
    "IPython",
    "--no-autoindent"
  ],
  "python.terminal.shellIntegration.enabled": true,
  "python.testing.unittestEnabled": true,
  "redhat.telemetry.enabled": false,
  "remote.autoForwardPortsSource": "hybrid",
  "ruff.configuration": {{ joinPath .chezmoi.homeDir ".config" "ruff" "ruff.toml" }},
  "ruff.format.preview": true,
  "ruff.lint.preview": true,
  "ruff.nativeServer": true,
  "rust-analyzer.inlayHints.chainingHints.enable": true,
  "rust-analyzer.inlayHints.closingBraceHints.enable": true,
  "rust-analyzer.inlayHints.closureStyle": "impl_fn",
  "rust-analyzer.inlayHints.genericParameterHints.const.enable": true,
  "rust-analyzer.inlayHints.parameterHints.enable": true,
  "rust-analyzer.inlayHints.typeHints.enable": false,
  "rust-analyzer.inlayHints.typeHints.hideClosureInitialization": true,
  "rust-analyzer.inlayHints.typeHints.hideNamedConstructor": true,
  "rust-client.engine": "rust-analyzer",
  "search.showLineNumbers": true,
  "shellcheck.customArgs": [
    "-x"
  ],
  "tabnine.experimentalAutoImports": true,
  "telemetry.telemetryLevel": "off",
  "terminal.integrated.defaultProfile.linux": "fish",
  "terminal.integrated.defaultProfile.osx": "fish",
  "terminal.integrated.defaultProfile.windows": "PowerShell",
  "terminal.integrated.env.osx": {
    "PATH": "/usr/local/opt/uutils-coreutils/libexec/uubin:/usr/local/lib/gnubin:/usr/local/opt/make/libexec/gnubin:${env:PATH}",
    "ZDOTDIR": "$HOME",
    "ZSHENV": "$HOME/.zshenv"
  },
  "terminal.integrated.fontSize": 15,
  "terminal.integrated.inheritEnv": true,
  "terminal.integrated.tabs.enabled": true,
  "typescript.inlayHints.enumMemberValues.enabled": true,
  "typescript.inlayHints.functionLikeReturnTypes.enabled": true,
  "typescript.inlayHints.parameterNames.enabled": "all",
  "typescript.inlayHints.parameterTypes.enabled": true,
  "typescript.inlayHints.propertyDeclarationTypes.enabled": true,
  "typescript.inlayHints.variableTypes.enabled": true,
  "vale.doNotShowWarningForFileToBeSavedBeforeLinting": true,
  "vale.enableSpellcheck": true,
  "vim.easymotion": true,
  "vim.enableNeovim": true,
  "vim.handleKeys": {
    "<C-d>": true,
    "<C-s>": false,
    "<C-z>": false,
    "<D-c>": false,
    "<D-v>": true
  },
  "vim.hlsearch": true,
  "vim.leader": "<Space>",
  "vim.neovimPath": "/usr/local/bin/nvim",
  "vim.normalModeKeyBindingsNonRecursive": [
    {
      "after": [
        "\"+p"
      ],
      "before": [
        "<D-v>"
      ]
    },
    {
      "after": [
        "5",
        "j"
      ],
      "before": [
        "J"
      ]
    },
    {
      "after": [
        "5",
        "k"
      ],
      "before": [
        "K"
      ]
    },
    {
      "after": [
        "J"
      ],
      "before": [
        "<Leader>",
        "j"
      ]
    },
    {
      "after": [
        "<C-w>",
        "h"
      ],
      "before": [
        "<C-h>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "h"
      ],
      "before": [
        "<C-left>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "j"
      ],
      "before": [
        "<C-j>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "j"
      ],
      "before": [
        "<C-up>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "k"
      ],
      "before": [
        "<C-k>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "k"
      ],
      "before": [
        "<C-down>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "l"
      ],
      "before": [
        "<C-l>"
      ]
    },
    {
      "after": [
        "<C-w>",
        "l"
      ],
      "before": [
        "<C-right>"
      ]
    },
    {
      "before": [
        "<Leader>",
        "t",
        "t"
      ],
      "commands": [
        ":tabnew"
      ]
    },
    {
      "before": [
        "<Leader>",
        "t",
        "n"
      ],
      "commands": [
        ":tabnext"
      ]
    },
    {
      "before": [
        "<Leader>",
        "t",
        "p"
      ],
      "commands": [
        ":tabprev"
      ]
    },
    {
      "before": [
        "<Leader>",
        "t",
        "o"
      ],
      "commands": [
        ":tabo"
      ]
    },
    {
      "before": [
        "<Leader>",
        "/"
      ],
      "commands": [
        ":noh"
      ]
    },
    {
      "before": [
        "leader",
        "w"
      ],
      "commands": [
        "workbench.action.files.save"
      ]
    },
    {
      "before": [
        "<Leader>",
        "<Leader>",
        "p"
      ],
      "commands": [
        "workbench.action.showCommands"
      ]
    },
    {
      "before": [
        "<Leader>",
        "p"
      ],
      "commands": [
        "workbench.action.quickOpen"
      ]
    },
    {
      "before": [
        "<Leader>",
        "t"
      ],
      "commands": [
        "workbench.action.gotoSymbol"
      ]
    },
    {
      "before": [
        "<Leader>",
        "l"
      ],
      "commands": [
        "workbench.action.gotoLine"
      ]
    }
  ],
  "vim.smartRelativeLine": true,
  "vim.sneak": true,
  "vim.useSystemClipboard": true,
  {{ if .has.nvim -}}
  "vscode-neovim.neovimExecutablePaths.darwin": {{ .system.editor }},
  "vscode-neovim.neovimInitVimPaths.darwin": {{ joinPath .chezmoi.homeDir ".config" "nvim" "init.lua" }},
  {{- end }}
  "workbench.colorCustomizations": {
    "editor.background": "#141F2E",
    "editor.foreground": "#e5e5e5",
    "editor.selectionBackground": "#375780",
    "editor.selectionHighlightBackground": "#37578090",
    "editorGutter.background": "#282828",
    "editorIndentGuide.activeBackground": "#808080",
    "editorIndentGuide.activeBackground1": "#808080",
    "editorIndentGuide.background": "#273E5C",
    "editorIndentGuide.background1": "#273E5C",
    "editorLineNumber.foreground": "#808080"
  },
  "workbench.editor.empty.hint": "hidden",
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  "workbench.settings.showAISearchToggle": false
}
