{
    "vim.hlsearch": true,
    "vim.enableNeovim": true,
    "vim.leader": "<Space>",
    "vim.normalModeKeyBindingsNonRecursive": [
        // From learn vim
        // Moving faster
        {
            // Move down faster
            "before": [
                "J"
            ],
            "after": [
                "5",
                "j"
            ]
        },
        {
            // Move up faster
            "before": [
                "K"
            ],
            "after": [
                "5",
                "k"
            ]
        },
        {
            // Keep join lines
            "before": [
                "<Leader>",
                "j"
            ],
            "after": [
                "J"
            ]
        },
        // Window switching
        {
            // Switch to left window
            "before": [
                "<C-h>"
            ],
            "after": [
                "<C-w>",
                "h"
            ]
        },
        {
            // Switch to down window
            "before": [
                "<C-j>"
            ],
            "after": [
                "<C-w>",
                "j"
            ]
        },
        {
            // Switch to up window
            "before": [
                "<C-k>"
            ],
            "after": [
                "<C-w>",
                "k"
            ]
        },
        {
            // Switch to right window
            "before": [
                "<C-l>"
            ],
            "after": [
                "<C-w>",
                "l"
            ]
        },
        // Easier tab handling
        {
            // Open new tab :tabnew
            "before": [
                "<Leader>",
                "t",
                "t"
            ],
            "commands": [
                ":tabnew"
            ]
        },
        {
            // Switch to next tab :tabnext
            "before": [
                "<Leader>",
                "t",
                "n"
            ],
            "commands": [
                ":tabnext"
            ]
        },
        {
            // Switch to previous tab :tabprevious
            "before": [
                "<Leader>",
                "t",
                "p"
            ],
            "commands": [
                ":tabprev"
            ]
        },
        {
            // Close all other tabs :tabonly
            "before": [
                "<Leader>",
                "t",
                "o"
            ],
            "commands": [
                ":tabo"
            ]
        },
        // Clean highlights
        {
            "before": [
                "<Leader>",
                "/"
            ],
            "commands": [
                ":noh"
            ]
        },
        // vscode actions
        {
            // Save file
            "before": [
                "leader",
                "w"
            ],
            "commands": [
                "workbench.action.files.save",
            ]
        },
        {
            // Show command menu
            "before": [
                "<Leader>",
                "<Leader>",
                "p"
            ],
            "commands": [
                "workbench.action.showCommands",
            ]
        },
        {
            // Show command menu
            "before": [
                "<Leader>",
                "p"
            ],
            "commands": [
                "workbench.action.quickOpen",
            ]
        },
        {
            // Go to symbol
            "before": [
                "<Leader>",
                "t"
            ],
            "commands": [
                "workbench.action.gotoSymbol",
            ]
        },
        {
            // Go to line
            "before": [
                "<Leader>",
                "l"
            ],
            "commands": [
                "workbench.action.gotoLine",
            ]
        },
    ],
    }
