# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if false -}}
# vim:filetype=zsh.chezmoitmpl
# {{- end -}}
# {{ if .tool.sk -}}
# {{ output "sk" "--shell" "zsh" "--shell-bindings" }}
# {{- end }}
