# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if false -}}
# vim:filetype=zsh.chezmoitmpl
# {{- end -}}
# {{ if .tool.zoxide -}}
# {{ output "zoxide" "init" "zsh" }}
# {{- end }}
