# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if false -}}
# vim:filetype=zsh.chezmoitmpl
# {{- end -}}
# {{ if .has.zoxide -}}
# {{ output "zoxide" "init" "zsh" }}
# {{- end }}
