# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{ if .is_linux -}}
if type -q dysk
    function df --wraps='dysk' --description 'alias df=dysk'
        dysk $argv
    end
else
    echo "'dysk' is not installed on this system. Install it to replace 'df'."
    function df --wraps='df -h' --description 'alias df="df -h"'
        command df -h $argv
    end
end
# {{- else -}}
function df --wraps='df -h' --description 'alias df=df -h'
    command df -h $argv
end
# {{- end }}
