# {{- if .has.trash -}}
# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
function trash-restore --wraps='trash-restore' --description 'Sets TRASHDIR automatically based on current realpath'
    set -l trashdir (__get_trash_dir)
    command trash-restore --trash-dir $trashdir $argv
end
# {{- end -}}
