# {{- if .has.kitty -}}
# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
function vcat --wraps='kitty +kitten vcat' --description 'alias vcat=kitty +kitten vcat'
    kitty +kitten vcat $argv
end
# {{- end -}}
