# Defined in - @ line 1
function yt-pl-mp3 --wraps='yt-dlp' --description 'alias yt-pl-mp3=yt-dlp'
    yt-dlp -f bestaudio -ciw --embed-thumbnail --extract-audio --audio-format mp3 --restrict-filename -o "%(playlist)s-%(playlist_index)s_%(upload_date)s-%(title)s-%(id)s.%(ext)s" --add-metadata --cookies {{ joinPath .secrets.cookies.dir .secrets.cookies.yt }} $argv
end
