# Defined in - @ line 1
function ytp2 --wraps=yt-dlp --description 'alias ytp=yt-dlp'
    yt-dlp -ciw --restrict-filename -o "%(upload_date)s-%(title)s-%(id)s.%(ext)s" --add-metadata --cookies {{ joinPath .secrets.cookies.dir .secrets.cookies.ytp }} $argv
end
