{{- if hasKey .secrets "cookies" -}}
# Defined in - @ line 1
function ytpl --wraps=yt-dlp --description 'alias ytl=yt-dlp'
    yt-dlp -ciw --restrict-filename -o "%(upload_date>%Y-%m-%d)s %(title)s-%(id)s.%(ext)s" --add-metadata --cookies {{ joinPath .secrets.cookies.dir .secrets.cookies.ytp }} --progress --break-on-existing --download-archive "archive.txt" (cat $argv[1] | string split \n)
end
{{- end -}}
