{{- if stat (joinPath .chezmoi.homeDir "Documents" "PowerShell" "Microsoft.PowerShell_profile.ps1") -}}
{{ joinPath .chezmoi.homeDir "Documents" "PowerShell" "Microsoft.PowerShell_profile.ps1" }}
{{- end -}}
