# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if false -}}
# vim:filetype=nu.chezmoitmpl
# {{- end -}}
# {{- if .has.jj -}}
# {{ output "jj" "util" "completion" "nushell" }}
# {{- end -}}
