#!/bin/fish
# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# {{- if false -}}
# vim:filetype=fish.chezmoitmpl
# {{- end }}
# time begin

# add extra completion paths
set -a fish_complete_path $__fish_cache_dir/completions $__fish_config_dir/completions_extra

# set variables
set -gx HAS_OCARGO true

# Source paths
# {{- if stat (joinPath .chezmoi.homeDir ".cargo/bin") }}
if not contains "$HOME/.cargo/bin" $PATH
    set -x PATH "$HOME/.cargo/bin" $PATH
end
# {{- end }}

# {{- if stat (joinPath .chezmoi.homeDir ".deno/bin") }}
if not contains "/home/lev/.deno/bin" $PATH
    set -x PATH "/home/lev/.deno/bin" $PATH
end
# {{- end }}

if set -q ___fish_cache_dir
    set -xg __fish_cache_dir "$HOME/.cache/fish"
    mkdir -p $__fish_cache_dir
end

# Source local completions cache
set -l _FISH_CACHE_COMPLETIONS_DIR $__fish_cache_dir/completions
mkdir -p $_FISH_CACHE_COMPLETIONS_DIR
for f in $_FISH_CACHE_COMPLETIONS_DIR/*.fish
    source $f
end

for f in $__fish_config_dir/completions_extra/*.fish
    source $f
end

# Set keybindings
set --global fish_key_bindings fish_vi_key_bindings

#@ functions -c fish_vi_key_bindings __original_vi_key_bindings
# functions -c fish_user_key_bindings fish_key_bindings

# function _fish_mode_prompt
#     switch $fish_bind_mode
#         case default
#             set_color --bold red
#             echo N
#         case insert
#             set_color --bold green
#             echo I
#         case replace_one
#             set_color --bold green
#             echo R
#         case replace
#             set_color --bold bryellow
#             echo R
#         case visual
#             set_color --bold brmagenta
#             echo V
#         case operator
#             set_color --bold cyan
#             echo N
#         case '*'
#             set_color --bold red
#             echo '?'
#     end
#     set_color normal
# end

# set -gx STARSHIP_LOG trace

# end
