{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
    "CLAUDE_CODE_NO_FLICKER": "1",
    "CLAUDE_CODE_ALT_SCREEN_FULL_REPAINT": "1"
  },
  "permissions": {
    "allow": [
      "Bash(curl * http://localhost:*)",
      "Bash(curl * https://localhost:*)",
      "Bash(npm run lint)",
      "Bash(npm run test:*)",
      "Bash(cs test:*)",
      "Bash(pytest:*)",
      "Bash(bun test*)",
      "Bash(bun nitro dev*)",
      "Bash(bun next dev*)",
      "Bash(bun run turbo dev*)",
      "Bash(cargo test:*)"
    ],
    "deny": []
  },
  "model": "claude-fable-5[1m]",
  "hooks": {
    "WorktreeCreate": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "/home/lev/.claude/hooks/worktree-create.sh"
          }
        ]
      }
    ],
    "WorktreeRemove": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "/home/lev/.claude/hooks/worktree-remove.sh"
          }
        ]
      }
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "ccstatusline",
    "padding": 0,
    "refreshInterval": 10
  },
  "enabledPlugins": {
    "superpowers@superpowers-marketplace": true,
    "elements-of-style@superpowers-marketplace": true,
    "caveman@caveman": true,
    "slack@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true,
    "pyright-lsp@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true,
    "superpowers-developing-for-claude-code@superpowers-marketplace": true,
    "plugin-dev@claude-plugins-official": true,
    "pr-crucible@pr-crucible": true,
    "claude-md-management@claude-plugins-official": true
  },
  "extraKnownMarketplaces": {
    "caveman": {
      "source": {
        "source": "github",
        "repo": "JuliusBrussee/caveman"
      }
    },
    "pr-crucible": {
      "source": {
        "source": "github",
        "repo": "AbysmalBiscuit/pr-crucible"
      }
    }
  },
  {{- if eq .chezmoi.hostname "GLaDOS-3" }}
  "effortLevel": "high",
  {{- else }}
  "effortLevel": "medium",
  {{- end }}
  "companyAnnouncements": [],
  "tui": "fullscreen",
  "voice": {
    "enabled": true,
    "mode": "hold"
  },
  "editorMode": "vim"
}
